:root {
  --primary: #ffffff;
  --secondary: #e5e7eb;
  --secondary-700: #e5e7ebcc;
  --grey: #6c727f;
  --dark: #121826;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #121826;
    --secondary: #e5e7eb;
    --secondary-700: #e5e7ebcc;
    --dark-600: #212936;
    --dark-300: #3c414d;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  border-radius: 5px;

  font-weight: 500;
  color: var(--grey);
}

.btn:hover {
  background-color: var(--secondary);
  color: var(--dark);
}

.btn.filled {
  background-color: var(--secondary);
}
